/* 마이페이지 */
.mypage-header {
	display: flex;
	align-items: center;
	justify-content: center; 
	position: relative; 
}

.mypage-title {
	font-family: var(--font-family-basic);
	font-size: var(--medium);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-140);
	letter-spacing: 0.0125rem;
	color: var(--grayscale-900);
	text-align: center; 
	flex-grow: 1; 
	margin-bottom: var(--space-4);
	margin-top: var(--space-4);
}

.edit-icon {
	position: absolute;
	right: 0;
	cursor: pointer;
	margin-right: var(--space-8); 
}


/* 버튼 컨테이너 */
.button-container {
	display: flex;
	gap: var(--space-2); /* 버튼 간의 간격 */
	margin-top: var(--space-5); /* 여백 추가 */
}

/* 프로필 사진 */
.avatar-container {
	display: flex;
	justify-content: center; 
	align-items: center; 
	width: 100%; 
	height: auto;
}

.avatar {
	width: 7.5rem;
	height: 7.5rem;
	border-radius: var(--rounded-full); /* 50% */
	object-fit: cover;
}
  
/* 유저 닉네임 */
.main-nickname {
	font-size: var(--xlarge); /* 18px */
	font-weight: var(--font-weight-bold); /* Bold */
	color: var(--grayscale-900); /* 텍스트 색상 */
	margin-top: var(--space-5); /* 적절한 여백 추가 */
	margin-bottom: var(--space-5);
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
	text-align: center; /* 텍스트 중앙 정렬 */
}

/* 내 정보 */
.profile-stats-container {
	width: 17.5rem; 
	height: var(--space-12-half); 
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--white); 
	border-radius: var(--rounded-md); 
	box-shadow: var(--box-shadow);
	padding: 0;
	margin: 0 auto; /* 부모 안에서 가로 중앙 정렬 */
}

.stat-item {
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 5rem;
	font-size: var(--large); 
	font-weight: var(--font-weight-medium);
	color: var(--black); 
	text-align: center; /* 텍스트 중앙 정렬 */
}

.stat-item span {
	font-size: var(--small); 
	margin-left: var(--space-half);
	color: var(--grayscale-700); 
}

.divider {
	width: var(--space-half); 
	height: var(--space-5); 
	background-color: var(--grayscale-400); 
}

/* 성별 버튼 컨테이너 */
.gender-container {
	display: flex;
	justify-content: center;
	width: 100%; 
	gap: var(--space-2); 
	align-items: center; 
}

  /* 편집 모드 콘텐츠 중앙 정렬 */
.edit-mode-container {
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center; 
	width: 100%;
	padding: var(--space-5); 
	margin-top: var(--space-4); 
  }
  
  .input-container input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 17.5rem;
	width: 100%; 
	height: 2.625rem; 
	padding: 0 1.25rem;
	border: 1px solid var(--grayscale-400);
	border-radius: 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis; 
	margin: 0.5rem;
	margin-bottom: 0.25rem;
	transition: all 300ms ease-in-out; 
  
	&::placeholder {
	  color: var(--grayscale-600);
	}
  
	&:hover,
	&:focus,
	&:active {
	  border-color: var(--grayscale-700); 
  
	  &::placeholder {
		color: var(--grayscale-900); 
	  }
	}
  }
  