.container {
  position: relative;
  overflow: hidden;
}

.button-current {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/5055/5055654.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}