.gnb-icon-edit {
    display: flex;
    width: 3.75rem;
    height: var(--space-10, 40px);
    padding: var(--space-none, 0px) var(--space-5, 20px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: var(--gradient-blue);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--rounded-full);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}