@import "@/styles/colors.css";
@import "@/styles/fonts.css";

.medium-button-wrapper {
  width: 8.75rem; /* 140px */
  height: 2.75rem; /* 44px */
  background-color: var(--grayscale-800);
  color: var(--grayscale-white);
  font-family: var(--font-family-basic);
  font-size: calc(var(--font-size-basic) * 0.875);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
  margin-bottom: 0.125rem; /* 2px */
  display: flex;
  align-items: center;
  justify-content: center;
}

.medium-button-wrapper:hover {
  background-color: var(--grayscale-900);
}

.medium-button-wrapper:active {
  background-color: var(--grayscale-700);
}

.medium-button-wrapper:disabled {
  background-color: var(--grayscale-300);
  color: var(--grayscale-500);
  cursor: not-allowed;
}
