@import '@/styles/colors.css';
@import '@/styles/fonts.css';


.miniButtonWrapper {
  width: 63px;
  height: 42px;
  background-color: var(--grayscale-800); /* 기존의 #424242에 해당하는 색상 */
  color: var(--grayscale-50); /* 기존의 흰색에 해당하는 색상 */
  font-family: var(--font-family-basic);
  font-size: calc(var(--font-size-basic) * 0.75); /* 기존의 12px에 해당 */
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniButtonWrapper:hover {
  background-color: var(--grayscale-900); /* 기존의 #212121에 해당 */
}

.miniButtonWrapper:active {
  background-color: var(--grayscale-700); /* 기존의 #333333에 해당 */
}

.miniButtonWrapper:disabled {
  background-color: var(--disabled); /* disabled 상태의 배경색 */
  color: var(--grayscale-500); /* disabled 상태의 텍스트 색상 */
  cursor: not-allowed;
}
