.group {
    justify-content: center;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    input {
        width: 5.5rem;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}