.large-button-wrapper {
	width: 100%;
	/* max-width: 26rem; */
	
	height: 3.375rem; /* 54px */
	background-color: var(--grayscale-800);
	color: var(--white);
	font-family: var(--font-family-basic);
	font-size: var(--medium); 
	font-weight: var(--font-weight-bold);
	border: none;
	border-radius: 0.25rem; /* 4px */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .large-button-wrapper:hover {
	background-color: var(--grayscale-900);
  }
  
  .large-button-wrapper:active {
	background-color: var(--grayscale-900);
  }
  
  .large-button-wrapper:disabled {
	background-color: var(--grayscale-300);
	color: var(--grayscale-500);
	cursor: not-allowed;
  }
  
  .medium-button-wrapper {
	width: 100%;
	/* max-width: 26rem; */
	min-width: 8.75rem;
	height: 2.75rem; /* 44px */
	background-color: var(--grayscale-800);
	color:  var(--white);
	font-family: var(--font-family-basic);
	font-size: var(--medium); /* 14px */
	font-weight: var(--font-weight-bold);
	border: none;
	border-radius: 0.25rem; /* 4px */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .medium-button-wrapper:hover {
	background-color: var(--grayscale-900);
  }
  
  .medium-button-wrapper:active {
	background-color: var(--grayscale-700);
  }
  
  .medium-button-wrapper:disabled {
	background-color: var(--grayscale-300);
	color: var(--grayscale-500);
	cursor: not-allowed;
  }
  
  .mini-button-wrapper {
	width: 100%;
	/* max-width: 26rem; */
	min-width: 3.9375rem;
	height: 2.625rem; /* 42px */
	background-color: var(--grayscale-800); 
	color: var(--grayscale-50); 
	font-family: var(--font-family-basic);
	font-size: var(--basic); /* 12px */
	font-weight: var(--font-weight-bold);
	border: none;
	border-radius: 0.25rem; /* 4px */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .mini-button-wrapper:hover {
	background-color: var(--grayscale-900);
  }
  
  .mini-button-wrapper:active {
	background-color: var(--grayscale-700);
  }
  
  .mini-button-wrapper:disabled {
	background-color: var(--disabled); 
	color: var(--grayscale-500); 
	cursor: not-allowed;
  }