:root {
  /* font familly */
  --font-family-basic: "Noto Sans KR", sans-serif;

  /* font-size */
  --basic: 0.75rem;
  --small: 0.625rem;
  --medium: 0.875rem;
  --large: 1rem;
  --xlarge: 1.125rem;
  --title-small: 1.25rem;
  --title-medium: 1.5rem;
  --title-large: 2rem;
  --title-xlarge: 2.5rem;
  --title-extra: 3rem;

  /* font weight */
  --font-weight-extraBold: 800;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/* Heading */
.heading-1 {
  font-family: var(--font-family-basic);
  font-size: var(--title-extra);
  font-weight: var(--font-weight-bold);
  line-height: 110%;
}
.heading-2 {
  font-family: var(--font-family-basic);
  font-size: var(--title-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 110%;
}
.heading-3 {
  font-family: var(--font-family-basic);
  font-size: var(--title-large);
  font-weight: var(--font-weight-bold);
  line-height: 110%;
}
.heading-4 {
  font-family: var(--font-family-basic);
  font-size: var(--title-medium);
  font-weight: var(--font-weight-bold);
  line-height: 120%;
}
.heading-5 {
  font-family: var(--font-family-basic);
  font-size: var(--title-small);
  font-weight: var(--font-weight-bold);
  line-height: 120%;
}
.heading-6 {
  font-family: var(--font-family-basic);
  font-size: var(--xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 120%;
}

/* body */
  /* bold */
.body-xl-bold {
  font-family: var(--font-family-basic);
  font-size: var(--xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-lg-bold {
  font-family: var(--font-family-basic);
  font-size: var(--large);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-md-bold {
  font-family: var(--font-family-basic);
  font-size: var(--medium);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-sm-bold {
  font-family: var(--font-family-basic);
  font-size: var(--basic);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-xm-bold {
  font-family: var(--font-family-basic);
  font-size: var(--small);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.2px;
}
  /* medium */
.body-xl-medium {
  font-family: var(--font-family-basic);
  font-size: var(--xlarge);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-lg-medium {
  font-family: var(--font-family-basic);
  font-size: var(--large);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-md-medium {
  font-family: var(--font-family-basic);
  font-size: var(--medium);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-sm-medium {
  font-family: var(--font-family-basic);
  font-size: var(--basic);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-xm-medium {
  font-family: var(--font-family-basic);
  font-size: var(--small);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 0.2px;
}
  /* regular */
.body-xl-regular {
  font-family: var(--font-family-basic);
  font-size: var(--xlarge);
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-lg-regular {
  font-family: var(--font-family-basic);
  font-size: var(--large);
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-md-regular {
  font-family: var(--font-family-basic);
  font-size: var(--regular);
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-sm-regular {
  font-family: var(--font-family-basic);
  font-size: var(--basic);
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.2px;
}
.body-xm-regular {
  font-family: var(--font-family-basic);
  font-size: var(--small);
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.2px;
}
