.container {
	display: flex;
	flex-direction: column;
	padding: 0 1.25rem;
}

.wrapper {
	margin-top: 1.875rem;
}

.content {
	max-width: 26.25rem;
    margin: 0 auto;
}

.message {
	font-weight: var(--font-weight-extraBold); 
	font-size: var(--title-medium); 
	color: var(--grayscale-700); 
	line-height: 1.4;
	margin-bottom: var(--space-10);
	word-break: keep-all;
}
