.container {
  position: absolute;
  top: calc(1rem * 9);
  left: 0;
  width: 100%;
  height: calc(100vh - (1rem * 9));
  background-color: var(--white);
  z-index: 100;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}