.group {
    justify-content: center;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);

    input {
        width: 6.25rem;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}