.container {
    max-width: 26.25rem;
    margin: 0 auto;
}

.content {
    margin-bottom: 1.875rem;

    li {
        margin-bottom: var(--space-2);
    }
}

.list-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image-container {
        width: 7.5rem;
        height: 7.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        object-fit: cover;
        justify-content: center;
        border: .0625rem solid var(--grayscale-200);
        border-radius: var(--rounded-full);
        
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .image-edit {
        .icon-box {
            position: absolute;
            right: 10;
            bottom: 0;
            transform: translate(-50%, -50%);
            overflow: hidden;
            display: flex;
            align-items: center;
            object-fit: cover;
            justify-content: center;
            width: var(--space-9);
            height: var(--space-9);
            background-color: var(--white);
            box-shadow: var(--box-shadow);
            border-radius: var(--rounded-full);
            cursor: pointer;
            
            &:hover {
                background-color: var(--grayscale-200);
            }
            
            svg {   
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
        }   
    }
}

.list-gender {
    display: flex;
    align-items: start;
    flex-direction: column;
    
    .gender-input{
        display: flex;
        gap: var(--space-2);

        .active-button {
            border: 0.0625rem solid var(--grayscale-700);
            color: var(--primary);
        }
    }
}