form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  button[type="submit"] {
    padding-top: var(--space-1);
  }
}

.errorText {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--error);
}