.container {
  max-width: 48.75rem;

  .content {
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    
    .input-group {
      margin-bottom: var(--space-4);
      > div {
        margin-bottom: var(--space-2); 
      }
    }
  }
}

.errorText {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--error);
}