.container {
  padding: 0 1.25rem;
  margin-top: 1.875rem;
  
  .content {
    max-width: 26.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    .input-group {
      margin-bottom: var(--space-4);
      > div {
        margin-bottom: var(--space-2);
      }
    }
  }
}

.errorText {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--error);
}