.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    margin-top: 1.875rem;
}

.content {
    max-width: 26.25rem;
    margin: 0 auto;

}

.icon-box {
    display: block;
    margin-bottom: 1.25rem;
}