.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: var(--space-8) var(--space-4);
  }
  
  .title {
	font-size: var(--title-xlarge);
	font-weight: var(--font-weight-extraBold); 
	color: var(--grayscale-700); 
	margin-bottom: var(--space-5);
	line-height: 1.5;
	padding: var(--large) var(--medium); 
	margin-bottom: var(--space-10);
}

.nickname {
	color: var(--primary); 
	font-weight: var(--font-weight-extraBold); 
}

  