
.checkboxContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
  }
  
  .checkbox {
	margin-right: 8px;
	width: 16px;
	height: 16px;
	cursor: pointer;
  }
  
  .label {
	font-size: 14px;
	color: #333;
  }
  