
.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .modalContent {
	background-color: white;
	padding: 1.25rem;
	border-radius: 0.5rem;
	max-width: 31.25rem;
	width: 100%;
	box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
	position: relative;
  }
  
  .closeButton {
	position: absolute;
	top: 0.625rem;
	right: 0.625rem;
	background: none;
	border: none;
	font-size: 1.125rem;
	cursor: pointer;
  }
  