.container {
  padding: 0 1.25rem;
}

.logo {
  max-width: 26.25rem;
  margin: 0 auto;
  padding: 5.125rem 0 10.3125rem 0;
  
  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--space-3);

    img {
      display: block;
      background-image: url('/favicon.webp');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 5rem;
      height: 5rem;
      border-radius: var(--rounded-lg);
    }

    span {
      color: var(--black);
    }
  }
}

.login-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin: 0 auto;
  max-width: 26.25rem;
}
