.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 1.25rem;
}

.logo {
  margin: 0 auto;
  max-width: 26.25rem;
  margin-bottom: 10.3125rem;
  margin-top: 2.5rem;
  
  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--space-3);

    img {
      width: 5rem;
      height: 5rem;
    }

    figcaption {
      color: var(--black);
    }
  }
}

.login-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin: 0 auto;
  max-width: 26.25rem;
}
