.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.4);
}

.outer {
  background-color: var(--white);
  max-height: 30rem;
  height: 37.5rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  margin-top: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 1rem;
}

.inner {
  max-width: 26.25rem;
  margin: 0 auto;
  overflow-y: scroll;
  border-top-left-radius: var(--rounded-md);
  border-top-right-radius: var(--rounded-md);
  flex: 1 1 0%;
  
  &::-webkit-scrollbar{
    display: none;
  }
}

.handle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: var(--space-1);
  width: 3.5rem;
  flex-shrink: 0;
  border-radius: var(--rounded-full);
  background-color: var(--grayscale-300);
}

.button-disabled {
    background-color: var(--gradient-disabled);
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

/* 다크모드 스타일링 */
.is-dark {
  .outer {
    background-color: var(--grayscale-900);

    .title {
      color: var(--white);
    }

    .handle {
      background-color: var(--grayscale-800);
    }
  }
}