.header-resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 var(--space-5);
}

.title {
  margin: var(--space-10) 0 var(--space-12-half) 0;
  color: var(--grayscale-700);
}