.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 20px;
	
  }
  
  .title {
	font-size: var(--title-medium);
	font-weight: var(--font-weight-extraBold); 
	color: var(--grayscale-700); 
	margin-bottom: var(--space-5);
	line-height: 1.5;
	padding: var(--large) var(--medium); 
	
}

.nickname {
	color: var(--primary); 
	font-weight: var(--font-weight-extraBold); 
}
  button {
	margin-top: 10px;
  }
  