.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 20px;
  }
  
  h1 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	text-align: left;
	padding: var(--large) var(--medium); 
  }
  
  button {
	margin-top: 10px;
  }
  