.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 20px;
	text-align: left; /* 왼쪽 정렬 */
  }
  
  .title {
	font-size: 1.5rem; /* 24px을 rem으로 변환 */
	font-weight: 800; /* ExtraBold */
	color: rgba(97, 97, 97, 1); /* RGB 97, 97, 97, 1 */
	margin-bottom: 20px;
	line-height: 1.5; /* 두 줄로 나누기 위한 적절한 줄 간격 */
  }
  
  .nickname {
	color: rgba(24, 26, 32, 1); /* RGB 24, 26, 32, 1 */
	font-weight: 800; /* ExtraBold */
  }
  