/* Large Button Styles */
.large-button-wrapper {
	width: 100%;
	max-width: 26rem;
	min-width: 17.5rem;
	height: 3.375rem; /* 54px */
	background-color: transparent;
	color: var(--grayscale-400);
	font-family: var(--font-family-basic);
	font-size: var(--medium); 
	font-weight: var(--font-weight-bold);
	border: 0.0625rem solid var(--grayscale-400);
	border-radius: 0.25rem; /* 4px */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .large-button-wrapper:hover {
	border: 0.0625rem solid var(--white);
	color: var(--white);
  }
  
  .large-button-wrapper:active {
	border: 0.0625rem solid var(--white);
	color: var(--white);
  }
  
  .large-button-wrapper:disabled {
	background-color: transparent;
	color: var(--grayscale-200);
	border: 0.0625rem solid var(--grayscale-200);
	cursor: not-allowed;
  }
  
  /* Medium Button Styles */
  .medium-button-wrapper {
	width: 100%;
	max-width: 26rem;
	min-width: 8.75rem;
	height: 2.75rem; /* 44px */
	background-color: transparent;
	color: var(--grayscale-400);
	font-family: var(--font-family-basic);
	font-size: var(--medium); 
	font-weight: var(--font-weight-bold);
	border: 0.0625rem solid var(--grayscale-400);
	border-radius: 0.25rem; /* 4px */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .medium-button-wrapper:hover {
	border: 0.0625rem solid var(--white);
	color: var(--white);
  }
  
  .medium-button-wrapper:active {
	border: 0.0625rem solid var(--white);
	color: var(--white);
  }
  
  .medium-button-wrapper:disabled {
	background-color: transparent;
	color: var(--grayscale-200);
	border: 0.0625rem solid var(--grayscale-200);
	cursor: not-allowed;
  }
  
  /* Mini Button Styles */
  .mini-button-wrapper {
	width: 100%;
	max-width: 26rem;
	min-width: 3.9375rem;
	height: 2.625rem; /* 42px */
	background-color: transparent;
	color: var(--grayscale-400);
	font-family: var(--font-family-basic);
	font-size: var(--small); 
	font-weight: var(--font-weight-bold);
	border: 0.0625rem solid var(--grayscale-400);
	border-radius: 0.25rem; /* 4px */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .mini-button-wrapper:hover {
	border: 0.0625rem solid var(--white);
	color: var(--white);
  }
  
  .mini-button-wrapper:active {
	border: 0.0625rem solid var(--white);
	color: var(--white);
  }
  
  .mini-button-wrapper:disabled {
	background-color: transparent;
	color: var(--grayscale-200);
	border: 0.0625rem solid var(--grayscale-200);
	cursor: not-allowed;
  }
  