.container {
  position: absolute;
  top: 1.25rem;
  right: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  width: 100%;
  padding: 0 var(--space-5);
  max-width: 26rem;
  margin: 0 auto;
}