.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--space-3) 0 var(--space-5) 0;
  gap: var(--space-2);
  margin-top: var(--space-3);
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: var(--Primary);
  font-size: 0.75rem;
  font-weight: var(--font-weight-medium);
  line-height: 160%;

  strong {
    font-weight: var(--font-weight-bold);
  }
}

.user-profile-wrapper {
  position: relative;

  ul {
    position: absolute;
    top: calc(100% + var(--space-2));
    right: 0;
    height: 0;
    background-color: var(--white);
    border-radius: var(--rounded-sm);
    z-index: 101;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    &.is-active {
      height: 2.5rem;
      border: 0.0625rem solid var(--grayscale-400);
    }
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding: var(--space-half) var(--space-2);
    border-bottom: 0.0625rem solid var(--grayscale-400);
    cursor: pointer;
    transition: background-color 300ms ease-in-out, font-weight 300ms ease-in-out;

    &:hover, &:focus {
      background-color: var(--grayscale-200);
      font-weight: var(--font-weight-bold);
    }

    &:last-child {
      border: 0;
    }
  }
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  outline: 0.0625rem solid var(--grayscale-400);
  border-radius: 50%;
  overflow: hidden;
  transition: border-width 300ms ease-in-out;

  &:hover, &:focus {
    outline: 0.1875rem solid var(--grayscale-400);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.is-dark {
  &.wrapper {
    color: var(--white);
  }
}