.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.outlet {
  height: 100vh;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gnb-nav {
  flex-shrink: 0;
  background-color: var(--white);
  z-index: 50;
  order: 9999;
  height: var(--space-15);
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: var(--gnb-shadow);
  & > ul{
    display: flex;
    justify-content: space-between;
    height: var(--space-15);
    padding: var(--space-none) var(--space-5);
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    max-width: 26.25rem;
    margin: 0 auto;
  }
}

.gnb-icon-frame {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--rounded-full);
  transition: 0.3s;
  
  &:hover {
      background-color: var(--grayscale-200);
    }
  }
  
.is-dark {
  .gnb-nav {
    background-color: var(--grayscale-900);
  }
  
  .gnb-icon-frame {
    &:hover{
      background-color: var(--grayscale-800);
    }
  }
}